services:
  clickhouse:
    image: clickhouse/clickhouse-server:24.3
    container_name: clickhouse
    ports:
      - "8123:8123" # HTTP interface
      # - "9000:9000" # Native interface
    environment:
      CLICKHOUSE_DB: weather
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: clickhouse #in production I would hide this, and all passwords via gitignore or most likely via a secure cloud
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - ./.clickhouse:/var/lib/clickhouse
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "clickhouse-client --user=default --password=clickhouse --query='SELECT 1' | grep -q 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    depends_on:
      clickhouse:
        condition: service_healthy
    ports:
      - "3000:3000"
    volumes:
      - ./.metabase:/metabase-data
      - ./.metabase/plugins:/plugins
    environment:
      MB_DB_FILE: /metabase-data/metabase.db

  postgres:
    image: postgres:15
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow #in production I would hide this
      POSTGRES_DB: airflow
    volumes:
      - ./.airflow/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 10

  airflow-init:
    image: apache/airflow:2.9.3
    container_name: airflow-init
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      _PIP_ADDITIONAL_REQUIREMENTS: "requests clickhouse-connect boto3"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./.airflow/logs:/opt/airflow/logs
      - ./.airflow/plugins:/opt/airflow/plugins
    entrypoint: /bin/bash
    command: >
      -c "airflow db migrate &&
          airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"

  airflow-webserver:
    image: apache/airflow:2.9.3
    container_name: airflow-webserver
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
      clickhouse:
        condition: service_healthy
      minio:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      _PIP_ADDITIONAL_REQUIREMENTS: "requests clickhouse-connect boto3"
      AIRFLOW_UID: "50000"
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin123"
      MINIO_BUCKET: "weather-raw"
      MINIO_SECURE: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./.airflow/logs:/opt/airflow/logs
      - ./.airflow/plugins:/opt/airflow/plugins
    command: >
      bash -lc "rm -f /opt/airflow/airflow-webserver.pid && exec airflow webserver"

  airflow-scheduler:
    image: apache/airflow:2.9.3
    container_name: airflow-scheduler
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
      clickhouse:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      _PIP_ADDITIONAL_REQUIREMENTS: "requests clickhouse-connect boto3"
      AIRFLOW_UID: "50000"
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin123"
      MINIO_BUCKET: "weather-raw"
      MINIO_SECURE: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./.airflow/logs:/opt/airflow/logs
      - ./.airflow/plugins:/opt/airflow/plugins
    command: scheduler
  minio:
    image: minio/minio:latest
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 10
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data:

networks:
  default:
    name: weather-pipeline-net
